<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'pf_static/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>portfolio page</title>
  </head>
  <body>
    <div class="header">
      <nav class="navbar">
        <img src="{% static 'images/logo .png' %}" class="logo" alt="ロゴ" />
        <ul class="navul">
          <li class="navli"><a href="#">ホーム</a></li>
          <li class="navli"><a href="#">このサイトについて</a></li>
          <li class="navli"><a href="#">ポートフォリオ</a></li>
          <li class="navli"><a href="#">連絡先</a></li>
          <li class="navli"><a href="/blog">ブログ</a></li>
        </ul>
      </nav>
    </div>
    <div class="this-site">
      <h1>このさいとについて</h1>
      <h2>このポートフォリオサイトの説明</h2>
    </div>
    <div class="profile">
      <h1>自己紹介</h1>
      <h2>職歴・経緯など</h2>
    </div>
    <div class="what_i_made">
      <h1>成果物</h1>
      <h2>モーダルウィンドウなどで説明</h2>
    </div>
    <div class="contact">
      <h1>連絡先</h1>
      <h2>登録フォーム</h2>
    </div>
    <div class="bloglink">
      <h1>blogやっています</h1>
      <h2><a href="/blog">blogページ</a></h2>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      const navbar = document.querySelector(".navbar");
      const menu = document.querySelector(".navul");
      window.addEventListener("scroll",()=>{
        if(window.pageYOffset>=menu.offsetTop){
          navbar.classList.add("sticky");
      }else{
          navbar.classList.remove("sticky");
      }});
    </script>
  </body>
</html>
